body {
  background-color: #FFFFE0; /* warna kuning cerah */
font-family: Arial, sans-serif;/*jenis huruf yang bersih dan mudah dibaca */
color: #191970;/* warna teks utama (Biru gelap) *
} 

.kartu-profil {
  width: 300px;
  margin: 50px auto;: /*50px jarak atas/bawah,auto menengahkan kiri/kanan */
padding : 20px:
  background-color: white
  border-radius: 15px; / *membuat sudut menjadi selengkung */
  box-shadow: 0 4px bpx rgba (0,0,0,0.1); / * efek bayangan */ 
  text-aligan : center,
}

-kartu-profile img {
  windt: 150px;
  border-radius: 50%, /*Trik untuk membuat gambar persegi menjadi lingkaran sempurna */
}
